@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

:root {
    --header-height: 3.5rem;
  
    /*========== Colors ==========*/
    /*Color mode HSL(hue, saturation, lightness)*/
    --first-color: rgb(7, 57, 60);
    --first-color-alt: hsl(187, 43, 30);
    --text-color: hsl(260, 14, 4);
    --white-color: #F0EDEE;
  
    /*========== Font and typography ==========*/
    /*.5rem = 8px | 1rem = 16px ...*/
    --body-font: "Plus Jakarta Sans", serif;
    --biggest-font-size: 5rem; /*80px*/
    --h1-font-size: 1.5rem; /*24px*/
    --h2-font-size: 1.25rem; /*20px*/
    --normal-font-size: 1rem; /*16px*/
    --small-font-size: .813rem; /*13px*/
    --smaller-font-size: .75rem; /*12px*/
  
    /*========== Font weight ==========*/
    --font-medium: 500;
    --font-semi-bold: 700;
    --font-bold: 800;
    
    /*========== z index ==========*/
    /* this are for the layers.  */
    /* the lesser, the more they are at the top of the elements */
    --z-tooltip: 10;
    --z-fixed: 100;
} 

body {
    margin: 0;
    font-family: var(--body-font);
}

.wrapper {
    display: flex;
    height: 100vh;
}

.left-section {
    flex: 1;
    background-color: var(--first-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.right-section {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 30px;
}

.picture-container {
    text-align: center;
    margin-top: 20px;
}

.login-text {
    font-size: 1.5rem; 
    color: var(--first-color);
    margin-top: 10px; 
    text-align: center;
}

.enter-email {
    font-size: 1rem; 
    color: var(--first-color);
    margin-top: 15px; 
    margin-bottom: 20px;
    text-align: center;
}

.container {
    width: 80%; 
    max-width: 400px;
    margin: 0 auto; 
    padding: 0; 
    background-color: transparent; 
    box-shadow: none; 
}

label {
    display: block;
    margin-bottom: 8px;
}

input[type="FName"],
input[type="LName"],
input[type="AdminCode"],
input[type="Pass"],
input[type="CPass"] {
    width: 70%; 
    padding: 10px;
    margin: 0 auto 10px; 
    border: 1px solid var(--first-color); 
    border-radius: 10px;
    transition: border-color 0.3s ease; 
    display: block; 
    color: var(--first-color);
    font-family: var(--body-font);
    font-size: var(--small-font-size);
}

input[type="FName"]::placeholder,
input[type="LName"]::placeholder,
input[type="AdminCode"]::placeholder,
input[type="Pass"]::placeholder,
input[type="CPass"]::placeholder {
    color: var(--first-color); 
}

input[type="FName"]:focus,
input[type="LName"]:focus,
input[type="AdminCode"]:focus,
input[type="Pass"]:focus,
input[type="CPass"]:focus {
    border-color: var(--first-color);
}

button {
    width: 80%;
    padding: 10px;
    background-color: var(--first-color);
    color: var(--first-color);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

button:hover {
    background-color: #F0EDEE;
    color: var(--first-color);
}

.submit-button {
    width: 80%;
    padding: 10px;
    font-family: var(--body-font);
    background-color: transparent;
    color: var(--first-color);
    border: 1px solid var(--first-color);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    display: block;
    margin: 20px auto 0;
}

.submit-button:hover {
    background-color: var(--first-color);
    color: white;
}

.need-help {
    display: block;
    margin: 10px auto 20px; 
    color: var(--first-color);
    text-align: center;
    text-decoration: none;
    font-size: var(--small-font-size);
    transition: color 0.3s ease; 
    width: 80%;
}

.need-help:hover {
    color: var(--first-color-alt);
}


.parking-picture {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0; 
    position: relative;
}

.hovering-image {
    width: 100px; 
    animation: hoverEffect 3s infinite alternate ease-in-out;
    position: absolute; 
    top: 20px; 
    left: 45%; 
    transform: translateX(-50%); 
}

.picture-container {
    margin-top: 10px;
}

.parking1-image {
    width: 400px; 
}

@keyframes hoverEffect {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(-20px); 
    }
}

.header{
    position: fixed;
    background-color: var(--white-color);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    top: 0;
    left: 0;
    width: 100%;
    z-index: var(--z-fixed);
    transition: background .4s ease-in-out;
 }


 .nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: var(--header-height);
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 2 rem;
    position:relative;
    
 
 }

 .nav__logo,
 .nav__toggle,
 .nav__close{
    display:flex;
    color: var(--first-color);
 }

.nav__logo img{
  width: 27px;
}

.nav__logo{
    align-items: center;
    column-gap: 0.25rem;
    font-family: var(--body-font);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
  }

.nav__menu {
  display: flex;
  align-items: center;
}

.nav__list{
  display:flex;
  gap: 2rem;
  list-style:none;
}

/* Hide toggle & close button by default */
.nav__toggle,
.nav__close {
    display: none;
}


/* Show menu */
.show-menu{
  top:0;
}

/* Change background header */
.bg-header{
  background: var(--body-color);
}

/* Active link */
.active-link{
  color: var(--first-color);
}

/* Hover effect*/
.nav__link{
    color: var(--first-color-alt);
    font-weight: var(--font-medium);
    transition: color .4s;
  }

/* hover for nav__link */
.nav__link:hover{
    color: var(--body-color);
  }

  /*=============== BASE ===============*/
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    }
    
  html{
    scroll-behavior: smooth;
  }
    
  body {
    font-family: var(--body-font);
    font-size: var(--normal-font-size);
    background-color: var(--white-color);
    color: var(--text-color);
  }
    
  h1, h2, h3 {
    color: var(--first-color);
    font-weight: var(--font-medium);
  }
    
    /*applies to all unordered list elements*/
  ul {
    list-style: none;
  }
    
    /*applies to all anchored elements*/
  a {
    text-decoration: none;
  }
    
    /*applies to all images elements*/
  img {
    max-width: 100%;
    height: auto;
  }


 /* Error state */
 input.error::placeholder {
  color: red;
  }

  input.error {
  border-color: 
  }
